body{background-color: #FFF9DD; color: #41FF00; }
.jumbotron{background-color: black;}
hr{color: #41FF00;}
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; 
}
.select-selected {
  background-color: black;
  color: #41FF00;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
