body{background-color: #FFF9DD; color: #41FF00; }
.jumbotron{background-color: black;}
hr{color: #41FF00;}

.custom-select select {
  display: none; 
}
.select-selected {
  background-color: black;
  color: #41FF00;
}
.select-items {
  position: absolute;
  background-color: black;
   color: #41FF00;
}
  
